importFrom("magrittr", "%>%")
importFrom("rlang", ".data")
importFrom("stats", "logLik", "model.matrix", "nobs", "sd", "var")
export(
  "%IN%", latexTable, latexTablePDF, lNA, lNAv, lsos,   
  lt_colNumbers, lt_nobsRow, lt_rSquaredRow, 
  meanNA, mergeFac, modalValue, moveToDF, pop, push, qw, 
  regTable, reliability, rescale, sdNA, shift, unshift, sumNA, varNA)
S3method(`[`, latexTable)
S3method(c, latexTable)
S3method(print, latexTable)
S3method(update, latexTable)
