import(gdata, stringr)
export(
  latable, lNA, lsos, meanNA, merge_fac, modal_value, move.to.df,  
  new_stack, noNAmatrix, pop, push, qw, reliability, rescale, sdNA, shift, 
  split_fac, sumNA, table.sep, unshift, varNA)
S3method(pop, stack)
S3method(push, stack)
S3method(shift, stack)
S3method(unshift, stack)